.searchContainer {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  padding: 0.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: flex;
  align-items: center;
}

.searchContainer > button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.searchIcon {
  color: rgba(97, 95, 95, 0.3);
  font-size: 1.3rem;
}

.searchIcon:hover {
  color: rgba(97, 95, 95, 0.9);
  font-size: 1.3rem;
}

.searchInput {
  outline: none;
  border: none;
  background-color: transparent;
  margin-inline-start: 0.5rem;
}
