.sectionContainer {
  /*background-color: white;
  */
  min-height: 90vh;
  width: 90%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  z-index: 2;
  backdrop-filter: blur(1rem);
  padding: 1rem;
}

.sectionMain {
  width: 100%;
  display: flex;
}

.SectionTab {
  overflow-y: auto;
  display: flex;
  justify-content: center;
  width: 17%;
  height: 84vh;
  backdrop-filter: blur(5rem);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.content {
  /* width: 100%;*/
  /* height: inherit; */
  display: grid;
  /* place-content: center; */
  grid-template-columns: repeat(auto-fill, 250px);
  /* grid-template-rows: repeat(auto-fill, 250px); */
  grid-gap: 20px;
  overflow-y: auto;
}
/* width */
.content::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.content::-webkit-scrollbar-track {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
}

/* Handle */
.content::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right bottom,
    rgba(238, 61, 61, 0.4),
    rgba(202, 63, 167, 0.3)
  );
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
    to right bottom,
    rgba(238, 61, 61, 0.6),
    rgba(202, 63, 167, 0.4)
  );
}
