.tab {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tab.active {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.3rem;
  backdrop-filter: blur(3rem);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.tabContent {
  width: 83%;
  height: 84vh;
  display: grid;
  padding: 0 1rem;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-direction: column;
}
